*{
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    background-color: #ffebea;
}

.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 70px;
    color: white;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    font-family: cursive;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    margin: 4px 4px 4px 4px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff8d85;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    color: #83C5BE;
}
.text-box p{
    margin:  10px 0 40px;
    font-size: 15px;
    color: #FEFAE0;
}
.text-box a{
    color: whitesmoke;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: wheat;
    border: 1px solid #ffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #CCD5AE;
    background: #82d3f862;
    transition: 1s;
}
nav .fa{
    display: none;
}

body {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(20, 18, 18); 
    }
    
.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 5vh auto;
    padding: 40px;
    border-radius: 1px;
    border: 1px solid;
    }

form {
    display: flex;
    flex-direction: column;
    width: 96%;
}

textarea {
    width: 100%;
    margin: 15px 0;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    border: 1px solid
}


.text{
    font-size: 35px;
    color: rgb(54, 47, 47); 
    text-align: center;
  }
    
input {
    width: 100%;
    margin: 15px 0;
    height: 35px;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    border: 1px solid
}

input[type=submit]{
    margin: 15px 0;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background: #33AFFF;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .container{
        width: 100%;
    }
}