*{
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(56, 55, 55, 0.7), rgba(73, 72, 72, 0.7)),url(img/bailey-zindel-NRQV-hBF10M-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 50px;
    color: white;
    margin: 5px 5px 5px 5px;
}

.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 4px 4px 4px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff8d85;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    color: #83C5BE;
}
.text-box p{
    margin:  10px 0 40px;
    font-size: 15px;
    color: #FEFAE0;
}
.text-box a{
    color: whitesmoke;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: wheat;
    border: 1px solid #ffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #CCD5AE;
    background: #82d3f862;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2; 
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}

/* self-care */

.self{

    text-align: center;
    height: 100vh;
    padding-top: 65px;
    background-image: linear-gradient(rgba(206, 203, 203, 0.7), rgba(73, 72, 72, 0.7)),url(img/aditya-saxena-_mIXHvl_wzA-unsplash.jpg);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: rgb(255, 254, 254);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;  
}

.row{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.column-col{
    flex-basis: 31%;
    background: rgb(255, 206, 206);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.column-col:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.2);

}
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid #ffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 9%;
}

.hero-btn1:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.column-col ul{
    text-align: justify;
    margin-left: 15%;
  text-align: start;

}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* mental health */
.mental{
    text-align: center;
    color: #dbdbdb;
    height: 91vh;
    position: center;
     background-image: linear-gradient(to right, rgb(128, 33, 33),#161616);;
    
}
.row {
    display: flex;
      }

 .column {
     flex: 50%;
     float: left;
     width: 33.33%;
     text-align: justify;
     padding-top: 70px;
     font-size: 15px;
     margin-right: 18px;
     margin-left: 18px;
      }
 .column img{
    width: 100%;
    display: block ;
    
   
 }  
 
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover{
    background: rgba(22,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.05s;

}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}

/* good mental health */
.goodmental{
    text-align: center;
    padding-top: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(187, 187, 187, 0.7)),url(img/hybrid-uGP_6CAD-14-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
.goodmental h2{
    color: #b671f7;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.goodmental p{
    color: #000000;
    font-size: 14px;
    
}
.goodmental-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.goodmental-col img{
    width: 100%;
    border-radius: 10px;
}
.goodmental-col p{
    padding: 0;
    font-family: sans-serif;
}
.goodmental-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* for help */
.help{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    height: 55vh;
    margin-bottom: 25%;
    
}
.help h1{
    color: rgb(22, 0, 63);
    font-size: 40px;
}
.help p{
    color: rgb(171, 125, 255);
    font-size: 17px;
}

.help-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
    
}

.help-col img{
    height: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50px;
}
.help-col p{
    color: black;
    text-align: start;
    margin: auto;
    font-size: 12px ;
    font-style: bold;

}

body {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(20, 18, 18); 
    }
    
.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 5vh auto;
    padding: 40px;
    border-radius: 1px;
    border: 1px solid;
    }

form {
    display: flex;
    flex-direction: column;
    width: 96%;
}

textarea {
    width: 100%;
    margin: 15px 0;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    border: 1px solid
}


.text{
    font-size: 35px;
    color: rgb(54, 47, 47); 
    text-align: center;
  }
    
input {
    width: 100%;
    margin: 15px 0;
    height: 35px;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    border: 1px solid
}

input[type=submit]{
    margin: 15px 0;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background: #33AFFF;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .container{
        width: 100%;
    }
}
.footer{
    width: 100%;
    height: 30vh;
    text-align: center;
    padding: 30px 0;
    background-image: linear-gradient(to right, rgb(250, 153, 153),#61bdd5);;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    font-size: 20px;
    text-align: center;
    margin: 14px 14px 14px 14px;
}